pymupdf
sentence-transformers
faiss-cpu
numpy
pandas
scikit-learn
tqdm
redis
langchain
langchain-community
langchain-text-splitters
python-dotenv
transformers
tiktoken
pytesseract
pillow
onnxruntime-gpu
optimum
google-generativeai
google-genai